@font-face {
	font-family: 'Roboto Condensed';
	src: url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Regular/fonts/RobotoCondensedRegular.woff2') format('woff2'),
		 url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Regular/fonts/RobotoCondensedRegular.woff') format('woff'),
		 url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Regular/fonts/RobotoCondensedRegular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Italic/fonts/RobotoCondensedItalic.woff2') format('woff2'),
         url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Italic/fonts/RobotoCondensedItalic.woff') format('woff'),
         url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Italic/fonts/RobotoCondensedItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;}
@font-face {
    font-family: 'Roboto Condensed';
    src: url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Bold/fonts/RobotoCondensedBold.woff2') format('woff2'),
         url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Bold/fonts/RobotoCondensedBold.woff') format('woff'),
         url('https://github.com/guprooon/Webfonts/master/RobotoCondensed/Bold/fonts/RobotoCondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;}
@font-face {
    font-family: 'Envy Code';
    src: url('https://github.com/guprooon/Webfonts/master/EnvyCR/envy_code_r-webfont.woff2') format('woff2'),
         url('https://github.com/guprooon/Webfonts/master/EnvyCR/envy_code_r-webfont.woff') format('woff'),
         url('https://github.com/guprooon/Webfonts/master/EnvyCR/envy_code_r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
