
@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-Bold.eot');
  src: url('fonts/Teko-Bold.eot?#iefix') format('embedded-opentype'),
       url('fonts/Teko-Bold.woff') format('woff'),
       url('fonts/Teko-Bold.ttf')  format('truetype'),
       url('fonts/Teko-Bold.svg#Teko') format('svg');
  font-weight: 600;
  font-style: normal;
}
