
@font-face {
  font-family: 'Teko';
  src: url('Teko-Bold.eot?#iefix') format('embedded-opentype'),  url('Teko-Bold.woff') format('woff'), url('Teko-Bold.ttf')  format('truetype'), url('Teko-Bold.svg#Teko') format('svg');
  font-weight: 700;
  font-style: normal;
}
