
@font-face {
  font-family: 'Teko';
  src: url('Teko-Black.eot?#iefix') format('embedded-opentype'),  url('Teko-Black.woff') format('woff'), url('Teko-Black.ttf')  format('truetype'), url('Teko-Black.svg#Teko') format('svg');
  font-weight: 900;
  font-style: normal;
}
