
@font-face {
  font-family: 'Teko';
  src: url('fonts/Teko-Black.eot');
  src: url('fonts/Teko-Black.eot?#iefix') format('embedded-opentype'),
       url('fonts/Teko-Black.woff') format('woff'),
       url('fonts/Teko-Black.ttf')  format('truetype'),
       url('fonts/Teko-Black.svg#Teko') format('svg');
  font-weight: 700;
  font-style: normal;
}
